/* Error: expected "{".
 *    ,
 * 61 | <<<<<<< HEAD
 *    |             ^
 *    '
 *   public\Themes\Thrivewellrx.Theme.EpiqScript\assets\scss\pages\_home.scss 61:13  @use
 *   public\Themes\Thrivewellrx.Theme.EpiqScript\assets\scss\pages\_index.scss 1:1   @use
 *   public\Themes\Thrivewellrx.Theme.EpiqScript\assets\scss\styles.scss 5:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 61 \2502  <<<<<<< HEAD\d\a    \2502              ^\a    \2575 \a   public\\Themes\\Thrivewellrx.Theme.EpiqScript\\assets\\scss\\pages\\_home.scss 61:13  @use\a   public\\Themes\\Thrivewellrx.Theme.EpiqScript\\assets\\scss\\pages\\_index.scss 1:1   @use\a   public\\Themes\\Thrivewellrx.Theme.EpiqScript\\assets\\scss\\styles.scss 5:1         root stylesheet';
}
