@use "../../base/variables" as *;

.assessment {
	&__form {
		&__checkbox {
			position: relative;

			&--alt {
				label {
					max-width: 412px;
					width: 100%;
				}
			}

			label {
				background-color: $gray-light;
				width: 570px;
				min-height: 64px;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: start;
				color: $secondary;
				font-weight: 500;
				padding: 10px 30px;
				padding-right: 60px;
				text-align: center;
				cursor: pointer;
				transition: all 0.3s;

				&:after {
					content: "\e912";
					position: absolute;
					right: 17px;
					top: 50%;
					transform: translateY(-50%);
					// content: "\e915";
					font-family: "icomoon";
					font-size: 30px;
					display: inline-flex;
					height: 30px;
					width: 30px;
					line-height: 30px;
					color: $primary;
					transition: all 0.3s;
				}
			}

			input {
				position: absolute;
				right: 17px;
				top: 50%;
				transform: translateY(-75%);
				display: none;



				&:checked~label {
					color: $secondary;

					&:after {
						content: "\e910";
						position: absolute;
						right: 17px;
						top: 50%;
						transform: translateY(-50%);
						font-family: "icomoon";
						font-size: 30px;
						display: inline-flex;
						height: 30px;
						width: 30px;
						line-height: 30px;
						color: $primary;
						transition: all 0.3s;
					}
				}
			}
		}
	}
}