@use "../../base/variables" as *;

.assessment {
	&__form {
		.measurement {
			&.measurement__flex {
				display: flex;
				gap: 20px;
				align-items: center;
			}

			.measurement-input {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: start;
				opacity: 1;
				color: $secondary;
				background-color: #f3f3f3;
				width: 570px;
				height: 64px;
				border-radius: 10px;
				font-weight: 500;
				padding: 10px 25px;
				padding-right: 60px;
				text-align: center;
				cursor: pointer;
				transition: all 0.3s;
				border: 1px solid $gray-dark;

				input {
					padding: 0;
					border: 0;
					box-shadow: none;
					font-size: $fs-18;
					padding-right: 20px;
					text-align: center;
					color: $secondary;

					&::placeholder {
						color: $gray-dark;
					}
				}

				.unit {
					font-size: 16px;
					border: 0;
					height: 100%;
					display: flex;
					align-items: center;
					color: $gray-dark;
					opacity: 1;
					// border-left: 1px solid $grey-10;
					padding: 8px 30px 8px 20px;
					position: absolute;
					right: 0;
					font-size: $fs-18;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.assessment {
		&__form {
			.measurement {
				max-width: 320px;

				.measurement-input {
					padding: 0 5px;
					border-radius: 12px;

					.unit {
						background-color: #162333;
						padding: 0 15px;
						border-radius: 0 12px 12px 0;
					}
				}
			}
		}
	}
}