@use '../base/variables' as *;

.category-hero {
	&__wrapper {
		padding: 30px 18px;
		background: url('../img/bg/category-hero-sm.jpg') no-repeat bottom right;
		background-size: cover;
		min-height: calc(100vh - 130px);
		border-radius: 10px;

		@media (min-width: 768px) {
			padding: 100px 120px;
			background: url('../img/bg/category-hero.jpg') no-repeat center center;
			background-size: cover;
		}

		h1 {
			font-size: 30px;
			font-weight: 600;
			line-height: 1.3;
			color: $white;
			padding-top: 26px;
			text-transform: capitalize;

			@media (min-width: 768px) {
				font-size: 56px;
				font-weight: 700;
				line-height: 1.2;
			}
		}
	}

	&__content {
		max-width: 320px;

		@media (min-width: 768px) {
			max-width: 620px;
		}
	}
}

.category-slider {
	&__inner-container {
		background: $white;
		border-radius: 10px;
		padding: 30px 0 30px 18px;

		@media (min-width: 576px) {
			padding: 80px 0 80px 80px;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 40px;
		margin-top: 50px;
	}

	&__pagination.swiper-pagination-progressbar {
		position: relative;
		width: 120px;
		height: 10px;
		background: $gray-light;
		border-radius: 25px;
		top: auto;
		overflow: hidden;

		.swiper-pagination-progressbar-fill {
			border-radius: 25px;
			background: $primary; // Primary Dark Green
		}
	}

	&__navigation {
		display: flex;
		gap: 15px;

		[class^='swiper-button-'] {
			height: 56px;
			width: 56px;
			border-radius: 100%;
			background: $gray-light;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.3s ease;
			color: #333;

			&:hover {
				background: #004d3d;
				color: $white;
			}

			&.swiper-button-disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
		}
	}
}

.category {
	&__home {
		&__wrapper {
			background: white;
			padding: 0 80px;
			border-radius: 0 0 10px 10px;

			@media all and (max-width: 992px) {
				padding: 0 8px;
			}
		}
	}

	&__card {
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h4,
		h5,
		h6 {
			color: white;
		}

		&__one {
			min-height: 320px;
			padding: 30px;
			background: url('../img/home/category/weight-loss.jpg') center center / cover no-repeat;

			@media all and (max-width: 992px) {
				padding: 15px;
			}

			@media all and (max-width: 768px) {
				min-height: 190px;
			}
		}

		&__two {
			min-height: 320px;
			padding: 30px;
			background: url('../img/home/category/anti-aging.jpg') center center / cover no-repeat;

			@media all and (max-width: 992px) {
				padding: 15px;
			}

			@media all and (max-width: 768px) {
				min-height: 190px;
			}
		}

		&__three {
			min-height: 150px;
			padding: 15px 30px;
			background: url('../img/home/category/hormone-health.jpg') center center / cover no-repeat;

			@media all and (max-width: 768px) {
				min-height: 190px;
			}
		}

		&__four {
			min-height: 150px;
			padding: 15px 30px;
			background: url('../img/home/category/pre-workout.jpg') center center / cover no-repeat;

			@media all and (max-width: 768px) {
				min-height: 190px;
			}
		}

		&__five {
			min-height: 150px;
			padding: 15px 30px;
			background: url('../img/home/category/sexual-health.jpg') center center / cover no-repeat;

			@media all and (max-width: 768px) {
				flex-direction: row;
				align-items: center;
				min-height: 100px;
			}
		}

		&__six {
			min-height: 100px;
			padding: 15px 30px;
			background: url('../img/home/category/hair-growth.jpg') center center / cover no-repeat;
			flex-direction: row;
			align-items: center;
		}

		&__seven {
			min-height: 100px;
			padding: 15px 30px;
			background: url('../img/home/category/sterile-injections.jpg') center center / cover no-repeat;
			flex-direction: row;
			align-items: center;
		}

		&__eight {
			min-height: 100px;
			padding: 15px 30px;
			background: url('../img/home/category/testosterone.jpg') center center / cover no-repeat;
			flex-direction: row;
			align-items: center;
		}

		&__nine {
			min-height: 100px;
			padding: 15px 30px;
			background: url('../img/home/category/sleep.jpg') center center / cover no-repeat;
			flex-direction: row;
			align-items: center;
		}
	}

	&__items {
		margin-top: 0;
	}
}