@use "../base/variables" as *;

.category-hero {
  &__wrapper {
    position: relative;
    overflow: hidden;
    padding: 30px 18px;
    height: 420px;
    border-radius: 10px;

    &::after {
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      content: "";
      background: linear-gradient(90deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0) 51.69%);
    }

    @media (min-width: 768px) {
      padding: 50px 120px;
    }

    &__weight-loss {
      // background: #0f2f28;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__testosterone {
      background: url("../img/bg/category-testosterone-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        background: url("../img/bg/category-testosterone-new.jpg") no-repeat center center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      background-size: cover;
    }

    &__sexual-health {
      background: url("../img/bg/category-sexual-health-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url("../img/bg/category-sexual-health-new.jpg") no-repeat center center;
      }

      background-size: cover;
    }

    &__pre-workout {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // background: url('../img/bg/category-pre-workout-mob.jpg') no-repeat center center;

      // @media (min-width: 768px) {
      // 	background: url('../img/bg/category-pre-workout.jpg') no-repeat center center;
      // }

      // background-size: cover;
    }

    &__hormone-health {
      background: url("../img/bg/category-hormone-health-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url("../img/bg/category-hormone-health-new.jpg") no-repeat center center;
      }

      background-size: cover;
    }

    &__anti-aging {
      background: url("../img/bg/category-anti-aging-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url("../img/bg/category-anti-agingNew.jpg") no-repeat center center;
      }

      background-size: cover;
    }

    &__sleep {
      background: url("../img/bg/category-sleep-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url("../img/bg/category-sleep-new.jpg") no-repeat center center;
      }

      background-size: cover;
    }

    &__sterile-injections {
      background: url("../img/bg/category-sterile-injections-mob-new.jpg") no-repeat center center;

      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url("../img/bg/category-sterile-injections-new.jpg") no-repeat center center;
      }

      background-size: cover;
    }

    &__hair-growth {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // background: url('../img/bg/category-hair-growth-mob.jpg') no-repeat center center;

      // @media (min-width: 768px) {
      // 	background: url('../img/bg/category-hair-growth.jpg') no-repeat center center;
      // }

      // background-size: cover;
    }

    h1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.3;
      color: $white;
      padding-top: 26px;
      text-transform: capitalize;

      @media (min-width: 768px) {
        font-size: 56px;
        font-weight: 500;
        line-height: 1.2;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 320px;

    @media (min-width: 768px) {
      max-width: 700px;
    }
  }

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    // height: 100%;
    object-fit: cover;
    z-index: 0;

    @media all and (max-width: 768px) {
      height: 100%;
    }
  }
}

.category-slider {
  &__inner-container {
    background: $white;
    border-radius: 10px;
    padding: 30px 0 30px 18px;

    @media (min-width: 576px) {
      padding: 80px 0 80px 80px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-top: 50px;
  }

  &__pagination.swiper-pagination-progressbar {
    position: relative;
    width: 120px !important;
    height: 10px;
    background: $gray-light;
    border-radius: 25px;
    top: auto;
    overflow: hidden;

    .swiper-pagination-progressbar-fill {
      border-radius: 25px;
      background: $primary; // Primary Dark Green
    }
  }

  &__navigation {
    display: flex;
    gap: 15px;

    [class^="swiper-button-"] {
      height: 56px;
      width: 56px;
      border-radius: 100%;
      background: $gray-light;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;
      color: #333;

      &:hover {
        background: #004d3d;
        color: $white;
      }

      &.swiper-button-disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.category {
  &__home {
    &__wrapper {
      background: white;
      padding: 0 30px 20px;
      border-radius: 10px;

      @media all and (max-width: 992px) {
        padding: 50px 15px 15px;
        margin-top: 10px;
        border-radius: 10px;
      }
    }

    &__title {
      text-align: center;
      padding: 50px 0 40px;

      @media all and (max-width: 768px) {
        padding: 0 0 0;
      }

      h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
        padding-bottom: 12px;
        color: $cyan;

        @media all and (max-width: 992px) {
          font-size: $fs-30;
        }
      }

      p {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
        color: $green-lighter5;

        @media all and (max-width: 992px) {
          font-size: $fs-16;
        }
      }
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media all and (max-width: 720px) {
      border-radius: 15px;
    }

    &__image {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 60% 0;
      transition: transform 0.3s ease;

      &__one,
      &__three {
        @media all and (max-width: 1440px) {
          object-position: 70 % 0;
        }

        @media all and (max-width: 768px) {
          object-position: 0 70%;
        }
      }

      &__two {
        object-position: 45% 0;

        @media all and (max-width: 1440px) {
          object-position: 45% 0;
        }

        @media all and (max-width: 768px) {
          object-position: 0 70%;
        }
      }

      &__four,
      &__five,
      &__six,
      &__seven {


        @media all and (max-width: 1440px) {
          object-position: 45% 0;
        }

        @media all and (max-width: 768px) {
          object-position: 0 70%;
        }
      }


    }

    &:hover &__image {
      transform: scale(1.05);
    }

    h2,
    h4,
    h5,
    h6,
    &__action {
      position: relative;
      z-index: 1;
    }

    h2,
    h4,
    h5,
    h6 {
      color: white;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    h2 {
      font-size: 44px;

      @media screen and (max-width: 1024px) {
        font-size: 36px;
      }

      @media screen and (max-width: 576px) {
        font-size: 28px;
      }
    }

    h4 {
      font-size: 28px;

      @media screen and (max-width: 1024px) {
        font-size: 36px;
      }

      @media screen and (max-width: 576px) {
        font-size: 28px;
      }
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;

      p {
        margin: 0;
        font-size: $fs-20;
        font-weight: 500;
        line-height: 1.2;
        color: $white;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      // .theme-btn__icon {
      // 	width: 28px;
      // 	height: 28px;
      // 	padding: 0;
      // 	flex: 0 0 28px;
      // 	font-size: $fs-16;
      // 	color: $white;
      // }
    }

    &__one {
      min-height: 320px;
      padding: 24px 16px 16px 24px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__two {
      min-height: 320px;
      padding: 24px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__three {
      min-height: 320px;
      padding: 24px;


      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__four {
      min-height: 190px;
      padding: 15px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }


    }

    &__five {
      min-height: 190px;
      padding: 15px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__six {
      min-height: 190px;
      padding: 15px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__seven {
      min-height: 190px;
      padding: 15px;

      @media all and (max-width: 1024px) {
        min-height: 290px;
      }

      @media all and (max-width: 992px) {
        padding: 15px;
      }

      @media all and (max-width: 768px) {
        min-height: 200px;
      }

      @media all and (max-width: 576px) {
        min-height: 150px;
      }
    }

    &__eight {
      min-height: 100px;
      padding: 15px 30px;
      background: url("../img/home/category/testosterone.jpg") center center / cover no-repeat;
      flex-direction: row;
      align-items: center;
    }

    &__nine {
      min-height: 100px;
      padding: 15px 30px;
      background: url("../img/home/category/sleep.jpg") center center / cover no-repeat;
      flex-direction: row;
      align-items: center;
    }
  }

  &__items {
    margin-top: 0;
  }
}