/* MADE Tommy font */
@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY Light_PERSONAL USE.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY Regular_PERSONAL USE.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY Bold_PERSONAL USE.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY ExtraBold_PERSONAL USE.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MADE Tommy';
	src: url('../fonts/made-tommy/MADE TOMMY Black_PERSONAL USE.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
