@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6y7cle');
  src:  url('fonts/icomoon.eot?6y7cle#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?6y7cle') format('woff2'),
    url('fonts/icomoon.ttf?6y7cle') format('truetype'),
    url('fonts/icomoon.woff?6y7cle') format('woff'),
    url('fonts/icomoon.svg?6y7cle#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-meal:before {
  content: "\e902";
}
.icon-arrow1:before {
  content: "\e903";
}
.icon-left-arrow-alt:before {
  content: "\e904";
}
.icon-right-arrow-alt:before {
  content: "\e905";
}
.icon-down-arrow:before {
  content: "\e91d";
}
.icon-up-arrow:before {
  content: "\e98e";
}
.icon-left-arrow:before {
  content: "\e97c";
}
.icon-right-arrow:before {
  content: "\e94f";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-top:before {
  content: "\e907";
}
.icon-back:before {
  content: "\e908";
}
.icon-arrow-right-alt:before {
  content: "\e966";
}
.icon-plus:before {
  content: "\e981";
}
.icon-minus:before {
  content: "\e97e";
}
.icon-cross1:before {
  content: "\e917";
}
.icon-button:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-cart-check:before {
  content: "\e90c";
}
.icon-cart-plus:before {
  content: "\e90d";
}
.icon-cart:before {
  content: "\e90e";
}
.icon-certified-icon:before {
  content: "\e90f";
}
.icon-checkbox-filled-rect:before {
  content: "\e910";
}
.icon-checkbox_default:before {
  content: "\e911";
}
.icon-check-uncheck:before {
  content: "\e912";
}
.icon-check-circle:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-focus:before {
  content: "\e916";
}
.icon-dashboard:before {
  content: "\e919";
}
.icon-delivery:before {
  content: "\e91a";
}
.icon-discount:before {
  content: "\e91b";
}
.icon-dollar:before {
  content: "\e91c";
}
.icon-drop_down:before {
  content: "\e91e";
}
.icon-due-bill:before {
  content: "\e920";
}
.icon-edit:before {
  content: "\e921";
}
.icon-email:before {
  content: "\e922";
}
.icon-stamina:before {
  content: "\e923";
}
.icon-increase-libido:before {
  content: "\e924";
}
.icon-increase-clarity:before {
  content: "\e925";
}
.icon-faq:before {
  content: "\e926";
}
.icon-globe:before {
  content: "\e927";
}
.icon-height:before {
  content: "\e928";
}
.icon-hormone:before {
  content: "\e929";
}
.icon-humburger:before {
  content: "\e92a";
}
.icon-image:before {
  content: "\e92b";
}
.icon-blood-improve:before {
  content: "\e92c";
}
.icon-increase-endurance:before {
  content: "\e92d";
}
.icon-increase-strength:before {
  content: "\e92e";
}
.icon-increase-vitality:before {
  content: "\e92f";
}
.icon-info:before {
  content: "\e930";
}
.icon-intake-form:before {
  content: "\e931";
}
.icon-intake-log:before {
  content: "\e932";
}
.icon-inverted-comma:before {
  content: "\e933";
}
.icon-invitation:before {
  content: "\e934";
}
.icon-injury-support:before {
  content: "\e935";
}
.icon-lab-icon:before {
  content: "\e936";
}
.icon-link:before {
  content: "\e937";
}
.icon-linkedin:before {
  content: "\e938";
}
.icon-location:before {
  content: "\e939";
}
.icon-mail:before {
  content: "\e93a";
}
.icon-message:before {
  content: "\e93b";
}
.icon-metabolism:before {
  content: "\e93c";
}
.icon-mic:before {
  content: "\e93d";
}
.icon-stress-support:before {
  content: "\e93e";
}
.icon-muscle-growth:before {
  content: "\e93f";
}
.icon-nail-health:before {
  content: "\e940";
}
.icon-neuroprotection:before {
  content: "\e941";
}
.icon-notification:before {
  content: "\e942";
}
.icon-order-list:before {
  content: "\e943";
}
.icon-paragraph:before {
  content: "\e944";
}
.icon-payment-cancel:before {
  content: "\e945";
}
.icon-phone:before {
  content: "\e946";
}
.icon-phone1:before {
  content: "\e947";
}
.icon-product-list:before {
  content: "\e948";
}
.icon-promo-code:before {
  content: "\e949";
}
.icon-question:before {
  content: "\e94a";
}
.icon-questions:before {
  content: "\e94b";
}
.icon-radio-button:before {
  content: "\e94c";
}
.icon-referral:before {
  content: "\e94d";
}
.icon-report:before {
  content: "\e94e";
}
.icon-safety:before {
  content: "\e951";
}
.icon-sales-associate:before {
  content: "\e952";
}
.icon-search-alt:before {
  content: "\e953";
}
.icon-secure:before {
  content: "\e954";
}
.icon-settings:before {
  content: "\e955";
}
.icon-shipping-info:before {
  content: "\e956";
}
.icon-short-answer:before {
  content: "\e957";
}
.icon-star-stroke:before {
  content: "\e958";
}
.icon-state-off:before {
  content: "\e959";
}
.icon-state-on:before {
  content: "\e95a";
}
.icon-stronger:before {
  content: "\e95b";
}
.icon-tablet:before {
  content: "\e95c";
}
.icon-tick1:before {
  content: "\e95d";
}
.icon-tick2:before {
  content: "\e95e";
}
.icon-tick-outlined:before {
  content: "\e95f";
}
.icon-vimeo:before {
  content: "\e960";
}
.icon-weight:before {
  content: "\e961";
}
.icon-capsule:before {
  content: "\e962";
}
.icon-anti-aging:before {
  content: "\e964";
}
.icon-agent-list:before {
  content: "\e965";
}
.icon-attachment:before {
  content: "\e967";
}
.icon-checkbox:before {
  content: "\e969";
}
.icon-checkbox-selected:before {
  content: "\e96a";
}
.icon-checkbox-unselected:before {
  content: "\e96b";
}
.icon-checkbox-filled:before {
  content: "\e96c";
}
.icon-copy:before {
  content: "\e96d";
}
.icon-cross-filled:before {
  content: "\e96f";
}
.icon-delete:before {
  content: "\e970";
}
.icon-download-04:before {
  content: "\e971";
}
.icon-files:before {
  content: "\e976";
}
.icon-hamburger-menu:before {
  content: "\e977";
}
.icon-info-circle:before {
  content: "\e978";
}
.icon-info-filled:before {
  content: "\e979";
}
.icon-instagram:before {
  content: "\e97a";
}
.icon-loader:before {
  content: "\e97d";
}
.icon-pdf:before {
  content: "\e980";
}
.icon-plus-circle:before {
  content: "\e983";
}
.icon-minus-circle:before {
  content: "\e97f";
}
.icon-radio-default:before {
  content: "\e985";
}
.icon-radio-selected:before {
  content: "\e986";
}
.icon-ellipse:before {
  content: "\e973";
}
.icon-reg-user:before {
  content: "\e987";
}
.icon-up-arrow1:before {
  content: "\e98f";
}
.icon-upload:before {
  content: "\e990";
}
.icon-user:before {
  content: "\e991";
}
.icon-warning-fill:before {
  content: "\e992";
}
.icon-search:before {
  content: "\e988";
}
.icon-send:before {
  content: "\e989";
}
.icon-success:before {
  content: "\e98a";
}
.icon-tiktok:before {
  content: "\e98c";
}
.icon-twitter:before {
  content: "\e98d";
}
.icon-facebook:before {
  content: "\e974";
}
.icon-facebook-alt:before {
  content: "\e975";
}
.icon-youtube:before {
  content: "\e993";
}
